<a href="https://colab.research.google.com/github/maxstclair/wrangling/blob/main/Wrangling_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1**

1. Read the abstract. What is this paper about?

The paper is about standardizing the process of cleaning data, specifically what comes after the standard data cleaning to manipulate the data to be usable. It specifies a specific structure where each variable is a collumn and each observation is a row.

2. Read the introduction. What is the "tidy data standard" intended to accomplish?

The goal of the "tidy data standard" is to standardize the structure of how data is cleaned. It describes most real-world data as "messy" and provides a clear framework on how to transform the data and meet this "tidy" standard.

3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."

The first quote is referring to how datatsets can fall short of the "tidy" standard in many ways, but there is only one type of structure that matches the standard. In that sense, messy data leads to complex and unique issues in processing, but all tidy data can be processed the same. The second qeote points out how the general idea that variables are collumns and observations are rows is generally respected. But, there are more granular choices that the researcher can make based on the type of analysis they want to do. The example given includes subjects and treatment groups, which can be structured with each subject being a row or each subject-treatment group pair being its own observation. This choice would effect what analysis could be done.

4. Read Section 2.2. How does Wickham define values, variables, and observations?

Values: numeric or categorical pieces of information that make up a dataset

Variables: collection of values that measures a certain property of the observations

Observations: an individual's collection of values

5. How is "Tidy Data" defined in section 2.3?

Each variable forms a column, each observation forms a row, each type of observational unit forms a table

6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?

Column headers are values rather than names for variables

Multiple variables are stored in a single column

Variables are stored in both rows and columns

Multiple types of observational units are stored in a single table

A single observational unit is stored in multiple tables

7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?

Table 11 has days across the top, which should be values. Table 12a has a variable that takes the variable as the value, not an actual value. Table 12b is tidy because all of the variables are their own column, and all the entries are observations.

8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

Wickham doesn't want tidy data to be a specific practice that works with specific tools. Rather, Wickham aims to have the ideas of tidy data to continue to be wrestled with and create a new, robust method as a tool for science across the board.

**Question 2**

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

1. Numeric variable: For ./data/airbnb_hw.csv, clean the Price variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)

In [9]:
df = pd.read_csv('./wrangling/assignment/data/airbnb_hw.csv', low_memory=False)
print( df.shape, '\n')
df.head()

(30478, 13)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [10]:
price = df['Price']
price.unique()

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1,990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1,000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1,200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5,000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3,000',
       '112', '94', '379', '57', '415', '236', '410', '214', '88', '66',
       '71', '171', '157', '545', '1,500', '83', '96', '1,800', '81',
       '188', '380', '255', '505', '54', '33', '174', '93', '740', '640',
       '1,300', '440', '599', '357', '1,239', '495', '127', '5,999',
       '178', '348', '152', '242', '183', '253', '750', '259', '365',
       '273', '197', '397', '103', '389', '355', '559', '38', '203',
       '999', '141', '162', '333', '698', '46', '360', '895', '10', '41',
       '206', '281', '449', '388', '212', '102', '201', '2,750', '4,750',
       '432', '675', '167', '390', '298', '339', '194', '302', '211',
       '595', '191', '53', '361', '480', '8,000', '4,500', '459', '997',
       '345', '216', '218', '111', '735', '276', '91', '490', '850',
       '398', '36', '775', '267', '625', '336', '2,500', '176', '725',
       '3,750', '469', '106', '460', '287', '575', '227', '263', '25',
       '228', '208', '177', '880', '148', '116', '685', '470', '217',
       '164', '61', '645', '699', '405', '252', '319', '268', '419',
       '343', '525', '311', '840', '154', '294', '950', '409', '184',
       '257', '204', '241', '2,000', '412', '121', '288', '196', '900',
       '647', '524', '1,750', '309', '510', '1,495', '1,700', '799',
       '383', '372', '492', '327', '1,999', '656', '224', '173', '875',
       '1,170', '795', '690', '146', '465', '1,100', '151', '274', '429',
       '825', '282', '256', '1,111', '620', '271', '161', '51', '855',
       '579', '1,174', '430', '20', '899', '649', '485', '181', '455',
       '4,000', '243', '342', '590', '560', '374', '437', '232', '359',
       '985', '31', '244', '254', '723', '237', '428', '370', '34',
       '1,400', '580', '2,520', '221', '749', '1,600', '2,695', '306',
       '202', '680', '570', '520', '223', '2,295', '213', '1,065', '346',
       '24', '286', '296', '266', '26', '995', '1,368', '393', '182',
       '635', '258', '780', '589', '347', '1,250', '1,350', '446',
       '3,200', '1,050', '1,650', '1,550', '975', '323', '6,500', '2,499',
       '1,850', '2,250', '715', '461', '540', '356', '439', '384', '569',
       '1,900', '22', '785', '626', '830', '318', '444', '321', '401',
       '1,499', '888', '369', '770', '386', '366', '344', '630', '313',
       '597', '262', '509', '10,000', '278', '312', '789', '1,195', '422',
       '21', '765', '3,500', '945', '326', '3,100', '2,486', '3,390',
       '1,356', '2,599', '472', '454', '328', '396', '291'], dtype=object)

The problem is that it imported as a string because of the commas in the values >999

In [11]:
price = price.str.replace(',','') # Remove commas
price = pd.to_numeric(price,errors='coerce') # Coerce string values to numeric
print( price.unique() , '\n')
print( 'Total missing: ', sum( price.isnull() ) ) # This converts all the values

[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]

Total missing:  0

2. Categorical variable: For the ./data/sharks.csv data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.

In [14]:
df = pd.read_csv('./wrangling/assignment/data/sharks.csv', low_memory=False)
df['Type'].value_counts()

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: Type, dtype: int64

In [15]:
type = df['Type'] # Create a temporary vector of values for the Type variable to play with
type = type.replace(['Invalid', 'Questionable','Unconfirmed','Unverified','Under investigation'],np.nan) # all missing values
type.value_counts()

type = type.replace(['Sea Disaster', 'Boat','Boating','Boatomg'],'Boating') # these types seemed groupable
type.value_counts()

df['Type'] = type # Replace the 'Type' variable with the cleaned version
del type # Destroy the temporary vector

df['Type'].value_counts()

Unprovoked    4716
Provoked       593
Boating        441
Watercraft     142
Name: Type, dtype: int64

3. Dummy variable: For the pretrial data covered in the lecture, clean the WhetherDefendantWasReleasedPretrial variable as well as you can, and, in particular, replace missing values with np.nan

In [20]:
df = pd.read_csv('./wrangling/data/VirginiaPretrialData2017Codebook.pdf', low_memory=False)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb5 in position 11: invalid start byte

I'm only seeing the codebook PDF, not seeing the csv file either in the Colab cloned repo or the actual repo in GitHub.

**Question 3**

Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. Likewise, many important datasets contain a sex or gender variable, typically limited to a handful of values often including Male and Female.

1. How did the most recent US Census gather data on race?

The census uses a check all that apply box for race, and considers the following categories, of which they attached the following descriptions:

White. A person having origins in any of the original peoples of Europe, the Middle East, or North Africa. It includes people who indicate their race as "White" or report responses such as German, Irish, English, Italian, Lebanese, and Egyptian. The category also includes groups such as Polish, French, Iranian, Slavic, Cajun, Chaldean, etc.

Black or African American.  A person having origins in any of the Black racial groups of Africa. It includes people who indicate their race as "Black or African American," or report responses such as African American, Jamaican, Haitian, Nigerian, Ethiopian, or Somali. The category also includes groups such as Ghanaian, South African, Barbadian, Kenyan, Liberian, Bahamian, etc.

American Indian and Alaska Native.  A person having origins in any of the original peoples of North and South America (including Central America) and who maintains tribal affiliation or community attachment. This category includes people who indicate their race as "American Indian or Alaska Native" or report entries such as Navajo Nation, Blackfeet Tribe, Mayan, Aztec, Native Village of Barrow Inupiat Traditional Government, or Nome Eskimo Community.

Asian. A person having origins in any of the original peoples of the Far East, Southeast Asia, or the Indian subcontinent including, for example, India, China, the Philippine Islands, Japan, Korea, or Vietnam. It includes people who indicate their race as â€œAsian Indian,â€ â€œChinese,â€ â€œFilipino,â€ â€œKorean,â€ â€œJapanese,â€ â€œVietnamese,â€ and â€œOther Asianâ€ or provide other detailed Asian responses such as Pakistani, Cambodian, Hmong, Thai, Bengali, Mien, etc.

Native Hawaiian and Other Pacific Islander. A person having origins in any of the original peoples of Hawaii, Guam, Samoa, or other Pacific Islands. It includes people who indicate their race as â€œNative Hawaiian,â€ â€œChamorro,â€ â€œSamoan,â€ and â€œOther Pacific Islanderâ€ or provide other detailed Pacific Islander responses such as Palauan, Tahitian, Chuukese, Pohnpeian, Saipanese, Yapese, etc.

Two or more races. People may choose to provide two or more races either by checking two or more race response check boxes, by providing multiple responses, or by some combination of check boxes and other responses. The race response categories shown on the questionnaire are collapsed into the five minimum race groups identified by OMB, and the Census Bureauâ€™s â€œSome Other Raceâ€ category. For data product purposes, â€œTwo or More Racesâ€ refers to combinations of two or more of the following race categories: White, Black or African American, American Indian or Alaska Native, Asian, Native Hawaiian or Other Pacific Islander, or Some Other Race.

2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?

The race data is particularly important for research to understand racial effects within our society and economy. With the history of discrimination towards a variety of non-white races in this country, a common modern political goal is to right these wrongs by providing equality of opportunity in the modern era. The data we have on the population, with race as a variable, allows us to evaluate the efforts to increase equality, analyze which policy tools are most effective, and much more.

3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?

The Census data on race seems reasonably well-conducted and complete. The Census provides a wide variety of categories that encompass all regions of the world. It would be more accurate representation of some people's racial identity to allow something like a type-in response, but that would make the data far less easy to work with in the context of social science research.

4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.

Sex: the Census question on sex is intended to determine the biological sex with the binary male/female. It does not look at gender, sex at birth, or sexual orientation.

Gender: the Census does not ask about individuals' gender identity.

Not including a category on gender identity, which the Census awknowledges is different than biological sex, leaves us without information that could be potentially useful. We would not be able to look at, for example, differences in education by gender-binary-conforming and gender non-binary people, which could be interesting and have policy implications.

5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?

There is a clear challenge, in my view, with missing values for gender of sexual identity. Specifically, I would think that gender non-binary and non-heterosexual folks would be less likely to voluntarily identify their gender or sexual identity because of stigma or even fear of retribution. This creates an endogenous cause for data to be missing, so this data would be missing not at random (MNAR), whcih is a big problem for statistical analysis.


6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?

Again, this raises concerns of endogeneity. Imputing values when values are systematically missing means there is no real solid basis for the algorithm to impute them. Rather, the best solution is probably to take on the gender question similar to race: with many widely encompassing categories and allowing respondants to select all that apply. This should hopefully give more thorough information and limit missing values, which I argued were likely MNAR.